<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Producto</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/ViewEditProducto.css}">
</head>
<body>
<h1>Editar Producto</h1>
<form th:action="@{/products/update}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:value="${producto.id}" name="id">

    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${producto.nombre}">
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" th:text="${producto.descripcion}"></textarea>
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" th:value="${producto.precio}">
    </div>

    <div class="form-group">
        <label for="fotos">Fotos:</label>
        <input type="file" id="fotos" name="fotos" multiple>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-primary">Guardar Cambios</button>
    </div>
</form>
</body>
</html>