<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Órdenes del Cliente</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<header th:replace="~{presentation/menu/fragments :: header}"></header>
<body>
<div class="container">
    <h1>Órdenes del Cliente</h1>

    <!-- Mostrar el mensaje si no hay órdenes -->
    <div th:if="${mensaje}">
        <p th:text="${mensaje}" class="alert alert-info"></p>
    </div>
    <p th:text="${session.cliente.get().getNombre()}">Nombre del Cliente</p>
    <!-- Mostrar la tabla de órdenes si existen -->
    <table class="table table-bordered" th:if="${ordenes}">
        <thead>
        <tr>
            <th>ID de la Orden</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orden : ${ordenes}">
            <td th:text="${orden.id}"></td>
            <td th:text="${#dates.format(orden.fechaCreacion, 'dd/MM/yyyy')}"></td>
            <td th:text="${orden.total}"></td>
            <td th:text="${orden.estado}"></td>
            <td>
                <form th:action="@{/verDetalles}" method="post">
                    <input type="hidden" th:name="idOrden" th:value="${orden.id}"/>
                    <button type="submit" class="btn btn-primary">Detalles</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

