<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <!-- Sección de Bienvenida -->
    <div class="welcome-section">
        <h1>BIENVENIDO A COOKIE SHOP</h1>
        <img th:src="@{/images/welcome-cookie.png}" alt="Cookie Image">
    </div>

    <!-- Sección de Login -->
    <div class="login-section">
        <div class="inicio-Sesion">
            <form class="login-form" method="post" th:action="@{/presentation/login}" enctype="multipart/form-data" th:object="${user}">
                <div class="form-group">
                    <label>Identificación:</label>
                    <input type="text" class="form-control" th:field="${user.usuario}">
                </div>
                <div class="form-group">
                    <label>Clave:</label>
                    <input type="password" class="form-control" th:field="${user.password}">
                </div>

                <p th:if="${error}" th:text="${error}" class="error-message"></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
            </form>
            <a class="nav-link" th:href="@{/registro}">Registro Cliente</a>
            <a class="nav-link" th:href="@{/registroUsuario}">Registro Usuario</a>
        </div>
    </div>
</div>
</body>
</html>
