.productsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
}

.products {
    flex: 0 1 240px; /* Flex-grow: 0; Flex-shrink: 1; Flex-basis: 240px */
    margin-right: 20px;
    margin-bottom: 20px; /* Add some space below each product */
}

.carousel {
    position: relative;
    width: 240px;
    height: 180px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.carousel .slides {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel .slide {
    width: 240px;
    height: 180px;
}

.carousel input {
    display: none;
}

.carousel input:nth-of-type(1):checked ~ .slides {
    transform: translateX(0%);
}

.carousel input:nth-of-type(2):checked ~ .slides {
    transform: translateX(-100%);
}

.carousel input:nth-of-type(3):checked ~ .slides {
    transform: translateX(-200%);
}

.carousel .controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.carousel .controls label {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
}

.carousel .controls label:hover {
    background-color: #f0f0f0;
}
